<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <title>Weather App</title>
</head>

<body>
    {{>navbar}}

    <!-- main content/header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main-content">
                    <form class="temp-form">
                        <input type="text" id="cityName" placeholder="Enter a city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top-layer">
                        <p id="day">Thur</p>
                        <p id="todayDate">28 JUN</p>
                    </div>

                    <div class="main-layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle-layer data_hide">
                            <p id="temp"><span id="temp_real_value">0</span>&deg;C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <p>&copy;Created with LOVE🤍 by NIDA</p>
    </footer>

    <script>
        const submitBt = document.getElementById('submitBtn');
        const cityName = document.getElementById("cityName");
        const city_name = document.getElementById("city_name");
        const temp_real_value = document.getElementById("temp_real_value");
        const temp_status = document.getElementById("temp_status");
        const datahide = document.querySelector(".middle-layer");

            const getCurrentDay = () =>{
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            today = weekday[currentTime.getDay()];
            let day = document.getElementById("day");
            day.innerText = today;
        }

        getCurrentDay(); 

        const dateMonth = ()=>{
            var month = new Array(11);
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "July";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            month[11] = "Dec";
            let currentMonth = new Date();
            let todayDate = document.getElementById("todayDate");
            todayDate.innerText = `${currentMonth.getDate()} ${month[currentMonth.getMonth()]}`
        } 

        dateMonth();

        const getInfo = async (event) => {
            event.preventDefault();
            let cityVal = cityName.value;


            if (cityVal === "") {
                city_name.innerText = "Please enter a city name";
                datahide.classList.add('data_hide');
            }
            else {
                try {
                    let url = `https://api.openweathermap.org/data/2.5/weather?q=${cityVal}&units=metric&appid=cd07f35ee6a8da555f2f33c28a597107`;
                    const response = await fetch(url);
                    const data = await response.json();
                    const arrData = [data];

                    temp_real_value.innerText = arrData[0].main.temp;
                    const tempMood = arrData[0].weather[0].main;
                    city_name.innerText= `${arrData[0].name}, ${arrData[0].sys.country}`;

                    if(tempMood== 'Clear'){
                        temp_status.innerHTML= '<i class="fas fa-sun" style="color: #eccc68;"></i>';
                    }
                    else if(tempMood== 'Clouds'){
                        temp_status.innerHTML= '<i class="fas fa-cloud" style="color: #f1f2f6;"></i>';
                    }
                    else if(tempMood== 'Rain'){
                        temp_status.innerHTML= '<i class="fas fa-cloud-rain" style="color: #a4b0be;"></i>';
                    }
                    else{
                        temp_status.innerHTML= '<i class="fas fa-sun" style="color: #eccc68;"></i>';
                    }
                    datahide.classList.remove('data_hide');
                } catch (error) {
                    city_name.innerText = "Please write the city name correctly";
                    datahide.classList.add('data_hide');
               }
            }
        }

        submitBt.addEventListener('click', getInfo);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>