@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    background-color: var(--main-bg);
    color: #fff;
    padding: 2rem 0;
}

.navbar a{
    color: #fff;
    font-size: 2rem;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar li{
    margin-left: 2rem;
}

.navbar-toggler{
    background-color: grey;
}

.fa-snowflake{
    color: var(--main-color);
    transition: all linear;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* main content/header */
.main-header-left{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-header-left p{
    font-size: 2rem;
}

.main-header-left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main-header-left span{
    color: var(--main-color);
}

.main-header-left button{
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    box-shadow: 0 8px 6px -6px #000;
    text-transform: uppercase;
}

.main-header-left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
    color: var(--main-color);
}

.main-header-right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-header-right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3));
}

/* error page */
.errorImg{
    width: 50rem;
    height: 40rem;
}

/* footer */
footer{
    background-color: var(--main-bg);
    width: 100%;
    margin-top: auto;
}

footer p{
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    line-height: 5rem;  
}

/* responsive code */
@media (max-width: 786px){
    .main-header-left{
        height: auto;
        margin: 5rem 0;
    }
    .main-header-right{
        height: auto;
        margin-top: 3rem;
    }
    .temp-form{
        width: auto;
    }
    
    .tempInformation{
        width: auto;
    }
    .main-layer .middle-layer p{
        font-size: 5rem;
        font-weight: 900;
    }
}

/* weather page */
.temp-form{
    width: 60%;
    position: relative;
    margin: 10rem auto 4rem;
}

.temp-form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

::placeholder{
    color: #bfc1c8;
}

.temp-form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 0 3rem;
    border-radius: 3rem;
    font-size: 1.6rem;
}

.temp-form input[type="submit"]:hover{
    color: var(--main-color);
    background-color: #fff;
}

.tempInformation{
    width: 50rem;
    min-height: 20rem;
    font-family: "Roboto","sans-serif";
    margin: auto;
    border-radius: 1rem;
    background-color: #323544;
}

.top-layer{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.top-layer p{
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
}

.main-layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main-layer #city_name{
    font-size: 2rem;
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
}

.main-layer .middle-layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main-layer .middle-layer p{
    font-size: 7rem;
    font-weight: 900;
}

.main-layer .middle-layer i{
    font-size: 7rem;
    font-weight: 900;
    color: var(--main-color);
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

